body
{
    background:rgb(117, 117, 231);
}
header h1
{
    color: #FFF;
    text-align: center;
}
section
{
    width: 500px;
    background:#FFF;
    border-radius: 10px;
    margin:auto;
    box-shadow: 3px 3px 10px rgba(17, 16, 16, 0.067);
    padding: 15px;
}

footer
{
    color:#FFF;
    text-align: center;
    margin-top: 20px;
}
img
{
    width: 200px;
    height: 200px;
    border-radius: 160px;

}
div
{
    text-align: center;
    padding: 10px;
}